<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8">

	<title>{{ site.title }}</title>

	<meta name="description" content="My Notes - I don't want to forget what I read">
	<meta name="author" content="Deepan Kumar Manivannan">

	<meta name="apple-mobile-web-app-capable" content="yes" />
	<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />

	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

	<link rel="stylesheet" href="{{ site.reveal_path }}css/reveal.css">
	<link rel="stylesheet" href="{{ site.reveal_theme_path }}{{ site.reveal_theme }}" id="theme">

	<!-- For syntax highlighting -->
	<link rel="stylesheet" href="{{ site.reveal_path }}lib/css/zenburn.css">
	<link rel="stylesheet" href="lib/presentable/dist/presentable.min.css">


	<!-- Printing and PDF exports -->
	<script>
		var link = document.createElement('link');
		link.rel = 'stylesheet';
		link.type = 'text/css';
		link.href = window.location.search.match(/print-pdf/gi) ? 'css/print/pdf.css' : 'css/print/paper.css';
		document.getElementsByTagName('head')[0].appendChild(link);
	</script>
	<script src="lib/presentable/dist/presentable.min.js"></script>
	<script>
		presentable.toc({
			framework: "revealjs"
		});
	</script>

	<!--[if lt IE 9]>
		<script src="{{ site.reveal_path }}lib/js/html5shiv.js"></script>
		<![endif]-->
</head>

<body>
	<div class="reveal">

		<div class="slides">

			{{ content }}


		</div>
		<aside id="presentable-icon" class="revealjs">
			<a title="Table of Contents" href="#?2">
				<img alt="Table of Contents" src="lib/presentable/dist/icons/revealjs.png" />
			</a>
		</aside>


	</div>

	<script src="{{ site.reveal_path }}lib/js/head.min.js"></script>
	<script src="{{ site.reveal_path }}js/reveal.js"></script>

	<script>
			Reveal.initialize({
				dependencies: [
					{ src: '{{ site.reveal_path }}plugin/markdown/marked.js' },
					{ src: '{{ site.reveal_path }}plugin/markdown/markdown.js' },
					{ src: '{{ site.reveal_path }}plugin/notes/notes.js', async: true },
					{ src: '{{ site.reveal_path }}plugin/highlight/highlight.js', async: true, callback: function () { hljs.initHighlightingOnLoad(); } }
				]
			});
	</script>
</body>

</html>